[submodule "wikidata-analytics"]

	path = wikidata-analytics

	url = https://git@github.com/vrandezo/wikidata-analytics.git

[submodule "wda"]

	path = wda

	url = https://git@github.com/mkroetzsch/wda.git

[submodule "wikiglobe"]

	path = wikiglobe
	url = https://git@github.com/vrandezo/wikiglobe.git
